<div class="modal-header background-color-white-content background-color">
  <h2 class="card-title" style="margin-bottom: 0">Modal title</h2>
  <button type="button" class="close btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fa-solid fa-close"></i>
  </button>
</div>
<div class="background-color-white-content background-color-default">
<!--  <p class="card-title" style="padding: 15px; margin: 0"></p>-->
</div>
<div class="modal-footer padding-top background-color-white-content background-color">
  <button ngbAutofocus type="button" class="btn btn-fill btn-danger" (click)="activeModal.close('Close click')">Close</button>
</div>
