<div class="modal-header background-color-white-content background-color">
  <h2 class="card-title" style="margin-bottom: 0">
    {{imageModel.category}}
  </h2>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close btn-close" type="button">
    <i class="fa-solid fa-close"></i>
  </button>
</div>

<div class="background-color-white-content background-color-default">
  <swiper
    [navigation]="true"
    [spaceBetween]="10"
    [thumbs]="{ swiper: thumbsSwiper }"
    class="mySwiper2 swiper2"
    style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
  >
    <ng-container *ngFor="let image of images$ | async">
      <ng-template class="swiper-slide2" swiperSlide
      ><img [src]="image" alt=""/>
      </ng-template>
    </ng-container>
  </swiper>
  <swiper
    (swiper)="thumbsSwiper = $event"
    [freeMode]="true"
    [slidesPerView]="8"
    [spaceBetween]="10"
    [watchSlidesProgress]="true"
    class="mySwiper"
  >
    <ng-container *ngFor="let image of images$ | async">
      <ng-template class="swiper-slide-thumb" swiperSlide>
        <img [src]="image" alt=""/>
      </ng-template>
    </ng-container>
  </swiper>
</div>

<div class="modal-footer padding-top background-color-white-content background-color">
  <button (click)="activeModal.close('Close click')" class="btn btn-fill btn-danger" ngbAutofocus type="button">Close
  </button>
</div>
