<div class="modal-header background-color-white-content background-color">
  <h2 class="card-title" style="margin-bottom: 0">
    {{imageModel.category}}
  </h2>
  <button type="button" class="close btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fa-solid fa-close"></i>
  </button>
</div>

<div class="background-color-white-content background-color-default">
  <swiper
    style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
    [spaceBetween]="10"
    [navigation]="true"
    [thumbs]="{ swiper: thumbsSwiper }"
    class="mySwiper2 swiper2"
  >
    <ng-container *ngFor="let image of images$ | async">
    <ng-template swiperSlide class="swiper-slide2"
    ><img [src]="image" alt=""/>
    </ng-template>
    </ng-container>
  </swiper>
  <swiper
    (swiper)="thumbsSwiper = $event"
    [spaceBetween]="10"
    [slidesPerView]="8"
    [freeMode]="true"
    [watchSlidesProgress]="true"
    class="mySwiper"
  >
    <ng-container *ngFor="let image of images$ | async">
    <ng-template swiperSlide class="swiper-slide-thumb">
      <img [src]="image" alt=""/>
    </ng-template>
    </ng-container>
  </swiper>
</div>

<div class="modal-footer padding-top background-color-white-content background-color">
  <button ngbAutofocus type="button" class="btn btn-fill btn-danger" (click)="activeModal.close('Close click')">Close</button>
</div>
