<footer class="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/contact-us'"> Kontakt Os </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/about-us'"> Om Os </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/info'"> Åbningstider </a>
      </li>
    </ul>
    <div class="copyright">
      © All rights reserved
    </div>
  </div>
</footer>
