<nav [ngStyle]="(isDarkTheme | async) ? {'background': '#27293D'} : {'background': '#FFFFFF'}"
     class="navbar navbar-expand-lg navbar-fixed navbar-transparent">
  <div class="container-fluid" style="padding-right: 0">
    <div class="navbar-wrapper">
      <div class="navbar-toggle d-inline">
        <button (click)="sidebarToggle()" class="navbar-toggler" type="button" id="menu-button" aria-label="menu button">
          <span class="navbar-toggler-bar bar1"> </span>
          <span class="navbar-toggler-bar bar2"> </span>
          <span class="navbar-toggler-bar bar3"> </span>
        </button>
      </div>
      <h3 class="navbar-brand card-title" style="margin-bottom: 0;">{{ getTitle() }}</h3>
    </div>
    <div class="ml-auto row">
      <button
        (click)="callPhoneNo()"
        class="btn btn-icon btn-round navbar-toggler"
        style="margin-left: 0; margin-top: 5px"
        id="phone-button" aria-label="phoneIcon"
      >
        <i class="fa fa-phone"></i>
      </button>
      <img
        alt="'Bjørnskov & Ehmsen logo'"
        class="navbar-nav navbar-toggler"
        id="mobile-img"
        src="./assets/be_icons/be_logo.png"
        style="padding: 0; height: 50px"
      />
    </div>
    <div [ngbCollapse]="isCollapsed" class="navbar-collapse">
      <div class="navbar-nav ml-auto" style="display: flex; align-items: center; justify-content: center;">
        <button
          (click)="callPhoneNo()"
          aria-label="call"
          class="btn btn-icon btn-round btn-hover"
          ngbTooltip="+45 22 33 76 08"
          placement="bottom"
        >
          <i class="fa fa-phone"></i>
        </button>
        <button
          (click)="mailTo()"
          aria-label="mail"
          class="btn btn-icon btn-round btn-hover"
          ngbTooltip="info@bjørnskov-ehmsen.dk"
          placement="bottom"
          style="margin-right: 20px"
        >
          <i class="fa fa-envelope"></i>
        </button>
        <div [ngStyle]="(isDarkTheme | async) ? {'background': 'none'} : {'background': '#27293D'}"
             style="padding: 5px">
          <img alt="'Bjørnskov & Ehmsen image'"
               src="./assets/be_icons/be_web.png" style="border-radius: 0"/>
        </div>
      </div>
    </div>
  </div>
</nav>
