<nav class="navbar navbar-expand-lg navbar-fixed navbar-transparent">
  <div class="container-fluid" style="padding-right: 0">
    <div class="navbar-wrapper">
      <div class="navbar-toggle d-inline">
        <button (click)="sidebarToggle()" class="navbar-toggler" type="button">
          <span class="navbar-toggler-bar bar1"> </span>
          <span class="navbar-toggler-bar bar2"> </span>
          <span class="navbar-toggler-bar bar3"> </span>
        </button>
      </div>
      <h3 class="navbar-brand card-title" style="margin-bottom: 0; color: whitesmoke !important;">{{ getTitle() }}</h3>
    </div>
    <div class="ml-auto row">
      <button
        (click)="callPhoneNo()"
        class="btn btn-icon btn-round navbar-toggler"
        style="margin-left: 0; margin-top: 5px"
      >
        <i class="fa fa-phone"></i>
      </button>
      <img
        alt=""
        class="navbar-nav navbar-toggler"
        id="mobile-img"
        src="./assets/be_icons/be_logo.png"
        style="padding: 0; height: 50px"
      />
    </div>
    <div [ngbCollapse]="isCollapsed" class="navbar-collapse">
      <div class="navbar-nav ml-auto">
        <button
          (click)="callPhoneNo()"
          class="btn btn-icon btn-round btn-hover"
          aria-label="call"
          ngbTooltip="+45 22 33 76 08"
          placement="bottom"
        >
          <i class="fa fa-phone"></i>
        </button>
        <button
          (click)="mailTo()"
          class="btn btn-icon btn-round btn-hover"
          aria-label="mail"
          ngbTooltip="info@bjørnskov-ehmsen.dk"
          placement="bottom"
          style="margin-right: 20px"
        >
          <i class="fa fa-envelope"></i>
        </button>
        <img alt="" src="./assets/be_icons/be_web.png" style="border-radius: 0"/>
      </div>
    </div>
  </div>
</nav>
