.pointer {
  cursor: pointer;
}

.card-body-text {
  padding-left: 15px
}

.center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-timeline {
  min-height: auto;
  padding-top: 0;
}
