<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-chart">
        <div class="card-header">
          <h2 class="card-title">Hvorfor vælge os?</h2>
        </div>
        <div class="card-body">
          <div class="typography-line">
            <p>
              Vores tømrere har mange års erfaring i branchen og er dygtige i alle alle aspekter. Vi bredre os over et
              stort område indenfor træfaget. Vi er jydskehåndværkere der har benene plantet solidt i den jyskemuld. Hos
              os er en aftale en aftale. Vi er stolte af vores kundeservice, samt opmærksomhed på detaljer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <ng-container *ngFor="let price of prices">
      <app-collapsed [cardInfoModel]="price" class="col-lg-4"></app-collapsed>
    </ng-container>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">FAQ</h5>
          <h3 class="card-title" style="margin-bottom: 0">Ofte stillede spørgsmål</h3>
        </div>
        <div class="card-body" style="padding-top: 0">
          <div class="typography-line">
            <p></p>
            <div *ngFor="let faq of faqs; let i = index" class="row mt-4">
              <div (click)="isCollapsed[i] = !isCollapsed[i]" class="col-12">
                <button [attr.aria-expanded]="isCollapsed[i]" class="btn btn-link btn-collapse">
                  {{ faq.title }}
                </button>
                <div [ngbCollapse]="!isCollapsed[i]">
                  <p [innerHTML]="faq.description" style="padding-left: 15px"></p>
                  <ng-container *ngIf="faq.route">
                    <a (click)="$event.stopPropagation()" routerLink="{{faq.route}}"><i>- Se mere her</i></a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
