<div class="content">
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Tømrerarbejde</h5>
          <h3 class="card-title">Google Maps</h3>
        </div>
        <div class="card-body">
          <div class="typography-line">
            <p>
              Dette inkluderer konstruktion, installation og reparation af strukturer lavet af træ, såsom vægge, gulve,
              lofter og tag. Tømrere kan også bygge og installere skræddersyede skabe og møbler.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Find os på Facebook</h5>
          <h3 class="card-title">Facebook</h3>
        </div>
        <div class="card-body">
          <div class="typography-line">Følg os på Facebook</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Find os på Instagram</h5>
          <h3 class="card-title">Instagram</h3>
        </div>
        <div class="card-body">
          <div class="typography-line">Følg os på Instagram</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Find os på LinkedIn</h5>
          <h3 class="card-title">LinkedIn</h3>
        </div>
        <div class="card-body">
          <div class="typography-line">Følg os på LinkedIn</div>
        </div>
      </div>
    </div>
  </div>
</div>
