<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-chart">
        <div class="card-header">
          <h2 class="card-title center-text"><strong>Velkommen til Bjørnskov & Ehmsen!</strong></h2>
        </div>
        <div class="card-body">
          <div class="typography-line">
            <p class="center-text">
              <app-primary-working-area [primaryWorkingAreaModel]="introModel"></app-primary-working-area>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-chart">
            <app-primary-working-area [primaryWorkingAreaModel]="carpenterModel"></app-primary-working-area>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-chart">
            <app-primary-working-area [primaryWorkingAreaModel]="enterpriseModel"></app-primary-working-area>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-chart">
            <app-primary-working-area [primaryWorkingAreaModel]="privateAndCorporateModel"></app-primary-working-area>
          </div>
        </div>
      </div>
      <div class="card card-chart">
        <div class="card-header">
          <h1 class="card-category">Hvorfor vælge os?</h1>
          <h2 class="card-title center-text"><b>Vores Værdier</b></h2>
        </div>
        <div class="row">
          <div class="col-lg-4 typography-line center-text">
            <app-values
              [description]="'Vi arbejder konstant på at imødekomme vores kunders forventninger. Vi lytter til vores kunders behov og ønsker. Vi møder ind hver morgen med bestræbelser på at yde det bedste håndværk for dig.'"
              [imageAlt]="'Kundetilfredshed tømrer snedker image'"
              [image]="'assets/be_images/be_value_customer-satisfaction.jpg'"
              [title]="'Kundetilfredshed'"
            ></app-values>
          </div>
          <div class="col-lg-4 typography-line center-text">
            <app-values
              [description]="'Vi mener, at det bedste resultat kommer fra et tæt samarbejde mellem os og vores kunder, samt samarbejdspartnere. Vi arbejder tæt sammen med vores kunder, for at sikre, at deres vision bliver til virkelighed.'"
              [imageAlt]="'Cooperation tømrer snedker image'"
              [image]="'assets/be_images/be_value_cooperation.jpg'"
              [title]="'Samarbejde'"
            ></app-values>
          </div>
          <div class="col-lg-4 typography-line center-text">
            <app-values
              [description]="'Hos Bjørnskov & Ehmsen er kvalitet ikke bare en værdi, det er en grundpille i vores virksomhed. Vi stræber altid efter at leverer arbejde af højeste standard, uanset opgavens omfang.'"
              [imageAlt]="'Kvalitet tømrer snedker image'"
              [image]="'assets/be_images/be_value_quality.jpg'"
              [title]="'Kvalitet'"
            ></app-values>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
