<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-chart">
        <div class="card-header">
          <h2 class="card-title center-text"><strong>Velkommen til Bjørnskov & Ehmsen!</strong></h2>
        </div>
        <div class="card-body">
          <div class="typography-line">
            <p class="center-text">
              <!-- Her kan du tilføje et billede -->
              <img alt="Bjørnskov & Ehmsen image" class="center-image" src="path-to-your-image">
              Hvis du vælger os som din samarbejdspartner i byggeprojektet, vil du møde et byggefirma, som påtager sig
              ansvaret for alle byggeprocesserne, alt imens vi prioriterer at kundens behov er i fokus.
              <br>
              <br>
              <strong>Hos Bjørnskov & Ehmsen handler det om mere end blot at levere et resultat.</strong>
              Vi stræber efter at skabe værdi for vores kunder. Hver opgave behandles med personlig opmærksomhed og
              omhu, som sikrer at det færdige arbejde ikke bare opfylder, men overgår dine forventninger. Med vores
              brede portfolio af tjenester, kan vi håndtere alle aspekter af dit tømrerprojekt, hvilket betyder at du
              kan
              slappe af og lade os om det hårde arbejde. Så, uanset behov, så lad os hjælpe dig med at gøre din
              drøm til virkelighed.
            </p>
          </div>
        </div>
      </div>
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"><strong>Hvad kan vi tilbyde?</strong></h5>
          <h3 class="card-title center-text"><strong>
            Vi har stor fokus på at imødekomme vores kunders ønsker, behov og krav
          </strong></h3>
        </div>
        <div class="card-body">
          <div class="typography-line">
            <p class="center-text">
              Uanset dine tømrerbehov, store som små, erhvervsmæssige eller private, står vi hos Bjørnskov & Ehmsen klar
              til at imødekomme dine forventninger. Vi gør din vision til virkelighed, fra konceptudvikling til fuldendt
              projekt, og har altid stolthed i at levere vores arbejde præcist og med højeste kvalitetsstandard. Vi har
              vores hjemsted i Esbjerg Ø, men vores rækkevidde er landsdækkende - vores løsninger og produkter kan
              findes i hele Danmark. Med en betydelig portefølje af succesfulde projekter i Vestjylland, står vi
              stærkt i vores engagement og ekspertise.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header">
              <h3 class="card-title center-text"><strong>Tømrer / Snedkerarbejde</strong></h3>
            </div>
            <div class="card-body">
              <div class="typography-line">
                <div class="card-body-center">
                  <img alt="Tømrer/Snedkerarbejde image" src="assets/be_icons/be_carpenter.png">
                </div>
                <p class="center-text">
                  Hos Bjørnskov & Ehmsen er vores tømrer & snedkerarbejde mangfoldigt og dækker et bredt spektrum. Vi
                  håndterer alle former for tømrer og snedkerprojekter, uanset størrelse, og vores hovedmål. Vores
                  abition er at sikre topresultater af højeste kvalitet. Uanset omfanget af opgaven, er vores engagement
                  i at udføre vores arbejde med et skarpt fokus på kommunikation, præcision og nøjagtighed, så du får
                  den bedst mulige oplevelse, samt kan være med hele vejen igennem.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header">
              <h3 class="card-title center-text"><strong>Hoved- og totalentreprise</strong></h3>
            </div>
            <div class="card-body">
              <div class="typography-line">
                <p class="center-text">
                  <!-- Tilføj et relevant billede her -->
                  <img alt="Hoved- og totalentreprise image" class="center-image" src="path-to-your-image">
                  Bjørnskov & Ehmsen tilbyder to hovedtyper af entrepriser: hovedentreprise og totalentreprise. I en
                  hovedentreprise overtager vi ansvaret for det meste af arbejdet, mens bygherren stiller tegnings- og
                  beskrivelsesmateriale til rådighed. I en totalentreprise håndterer vi hele processen fra planlægning
                  til endelig færdiggørelse. Uanset hvilken entrepriseform du vælger, garanterer vi tydelige aftaler
                  vedrørende arbejdets omfang, tidslinje og budget for at sikre en professionel og pålidelig
                  byggeproces.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header">
              <h3 class="card-title center-text"><strong>Privat & Erhverv</strong></h3>
            </div>
            <div class="card-body">
              <div class="typography-line">
                <p class="center-text">
                  <!-- Tilføj et relevant billede her -->
                  <img alt="Privat & Erhverv image" class="center-image" src="path-to-your-image">
                  Hos Bjørnskov & Ehmsen trækker vi på mange års erfaring inden for tømrerbranchen, og denne erfaring
                  anvendes til at levere alle former for tømreropgaver på en professionel måde til vores kunder. Vi
                  tager stolthed i at yde førsteklasses kvalitet, da vi er passionerede omkring vores håndværk og ønsker
                  at sikre tilfredse og loyale kunder. Vi bestræber os konstant på at indgå i et tæt samarbejde med
                  vores kunder, tage hensyn til deres præferencer og behov, alt imens vi opretholder en høj standard for
                  vores tømrerarbejde.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Hvad gør vi anderledes?</h5>
          <h1 class="card-title center-text" style="padding-bottom: 20px"><b>Vores tre værdier</b></h1>
        </div>
        <div class="row">
          <div class="col-lg-4 typography-line center-text">
            <app-values
              [description]="'Vi arbejder konstant på at overgå vores kunders forventninger. Vi lytter til vores kunders behov og ønsker, og søger for at efterlade dem fuldt tilfredse og glade for at være tilbagevendende kunder.'"
              [imageAlt]="'Tømrer/Snedkerarbejde image'"
              [image]="'assets/be_images/be_value_customer-satisfaction.jpg'"
              [title]="'Kundetilfredshed'"
            ></app-values>
          </div>
          <div class="col-lg-4 typography-line center-text">
            <app-values
              [description]="'Vi mener, at det bedste resultat kommer fra et tæt samarbejde mellem os og vores kunder. Vi arbejder tæt sammen med vores kunder, for at sikre, at deres vision bliver til virkelighed.'"
              [imageAlt]="'Cooperation image'"
              [image]="'assets/be_images/be_value_cooperation.jpg'"
              [title]="'Samarbejde'"
            ></app-values>
          </div>
          <div class="col-lg-4 typography-line center-text">
            <app-values
              [description]="'Hos Bjørnskov & Ehmsen er kvalitet ikke bare en værdi, det er en grundpille i vores virksomhed. Vi stræber altid efter at levere arbejde af højeste standard, uanset opgavens omfang.'"
              [imageAlt]="'Quality image'"
              [image]="'assets/be_images/be_value_quality.jpg'"
              [title]="'Kvalitet'"
            ></app-values>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
