@media screen and (min-width: 800px) {
  swiper-slide {
    height: 750px !important;
  }

  swiper-slide img {
    height: 750px !important;
  }
}

:root {
  --swiper-navigation-color: #EB7700;
  --swiper-pagination-color: #EB7700;
}

.image-category-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  margin: 0;
  padding: 0;
}

.is-clickable {
  cursor: pointer;
}

.is-clicked {
  cursor: grab;
}
