@import "swiper/scss";
@import "swiper/scss/effect-cube";
@import "swiper/scss/pagination";
@import 'swiper/scss/navigation';

@media screen and (min-width: 1200px) {
  .swiper1 {
    width: 500px;
    height: 500px;
    top: 40%;
    margin-left: -150px;
    margin-top: -150px;
    left: 45%;
    position: absolute;
  }
}

.swiper-slide1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  .swiper-img1 {
    max-width: 100%;
    max-height: 100%;
    display: block;
    width: 100%;
  }
}

.img-category:hover {
  border: 2px solid #F39200;
}

.swiper-pagination-bullet {
  background-color: #1A1E34;
  opacity: unset;
}



.swiper-pagination-bullet-active {
  background-color: #EB7700;
}

.swiper-button-next, .swiper-button-prev {
  color: #EB7700;
  border-radius: 100%;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
