<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12 text-left">
              <h5 class="card-category">Klik på et af billederne få at se flere i den kategori</h5>
              <h2 class="card-title">Vi går altid 100% ind i vores projekter. Her kan i se nogle af vores resultater
                💪</h2>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding-top: 0">
        </div>
      </div>
    </div>
  </div>


  <button (click)="addCategory()">add category</button>

  <ul>
    <li *ngFor="let image of fireImages$ | async">
      1: {{image.fileName}}
    </li>
  </ul>

    <swiper [config]="config"
            class="swiper1">
      <ng-container *ngFor="let image of overviewImages$ | async">
        <ng-template swiperSlide class="swiper-slide1">
          <h3 class="card-title" style="margin-bottom: 10px">Some Title</h3>
          <img class="swiper-img1 img-category"
               style="cursor: pointer"
               [src]="image"
               alt=""
               (click)="openImageCategory(image)"/>
        </ng-template>
      </ng-container>
    </swiper>
</div>
