@media screen and (min-width: 800px) {
  swiper-slide {
    height: 750px !important;
  }

  swiper-slide img {
    height: 700px !important;
  }
}

:root {
  --swiper-navigation-color: #EB7700;
  --swiper-pagination-color: #EB7700;
}

swiper-container {
  width: 100%;
  height: 100%;
}

.coverflow-slider {
  background-position: center;
  background-size: cover;
}

swiper-slide {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  height: 300px;
  object-fit: cover;
}

h3 {
  margin: 0;
  padding: 0;
}

.image-category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
