  <div class="card card-user no-shadow">
    <div class="author">
<!--      <div class="block block-one"></div>-->
<!--      <div class="block block-two"></div>-->
<!--      <div class="block block-three"></div>-->
<!--      <div class="block block-four"></div>-->
      <img alt="{{imageAlt}}"
           class="avatar img-value"
           src="{{image}}">
      <h2 class="title">
        {{title}}
      </h2>
      <p class="description description-padding">
        {{description}}
      </p>
    </div>
  </div>
