<div class="card-header">
  <h3 class="card-title center-text margin-top"><strong>{{title}}</strong></h3>
</div>
<div class="card-body">
  <div class="typography-line">
    <div class="card-body-center author no-margin">
      <img alt="{{imageAlt}}"
           class="avatar img-value"
           [ngStyle]="(isDarkTheme | async) ? {'color': '#27293D'} : {'color': '#FFFFFF'}"
           src="{{image}}">
    </div>
    <p [innerHTML]="description" class="description description-padding card-value-padding"></p>
  </div>
</div>
