.pointer {
  cursor: pointer;
}

.card-body-text {
  padding-left: 15px
}

.center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-color {
  color: #f39200 !important;
}

.no-padding-top {
  padding-top: 0;
}
