<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-chart">
        <div class="card-header">
          <h2 class="card-title">Vores Kunder Siger Det Bedst</h2>
        </div>
        <div class="card-body">
          <div class="typography-line">
            <p>
              Vi hos Bjørnskov & Ehmsen sætter en ære i at levere exceptionel service og håndværk. Men du behøver ikke
              blot tage vores ord for det. Læs nedenfor for at se, hvad vores tidligere kunder har at sige om deres
              oplevelser med os. Fra renoveringsprojekter til skræddersyede snedkerarbejder, vores kunders tilfredshed
              er vores ultimative succesmålestok.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-customer-satisfaction
    [customerSatisfactions]="customerSatisfactions"
  ></app-customer-satisfaction>
</div>
