<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12 text-left">
              <h2 class="card-title">I Bjørnskov & Ehmsen går vi op i vores kunders tilfredshed</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-customer-satisfaction
    [customerSatisfactions]="customerSatisfactions"
  ></app-customer-satisfaction>
</div>
