<div class="content">
  <app-find-us></app-find-us>

  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text"></p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a>
              <img alt="" class="avatar" src="assets/be_images/mark.png" />
              <h5 class="title">Mark Bjørnskov</h5>
            </a>
            <p class="description">Mester</p>
          </div>
          <div class="card-description">
            <h3 class="title text-primary" style="margin-bottom: 15px">Skal vi hjælpe dig?</h3>
            <div class="typography-line">
              <blockquote>
                <h3 class="blockquote card-title" style="margin: 0">
                  Bjørnskov & Ehmsen har nogle af de dygtigste og specialiserede håndværkere, som kan lave alt fra nybyg
                  til snedker arbejde.
                  <br />
                  Kundetilfredshed er en prioritet hos Bjørnskov & Ehmsen, så du kan være sikker på at få et smukt og
                  holdbart resultat.
                  <br />
                  <a (click)="callPhoneNo()" style="cursor: pointer">
                    <b>
                      <u>Ring</u>
                    </b>
                  </a>
                  eller
                  <a (click)="mailTo()" style="cursor: pointer">
                    <b><u>skriv</u></b>
                  </a>
                  og få et uforpligtende tilbud og lad os hjælpe dig med dit næste tømreprojekt.
                </h3>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button
              class="btn btn-icon btn-round btn-hover"
              (click)="callPhoneNo()"
              placement="top"
              ngbTooltip="+45 22 33 76 08"
            >
              <i class="fa fa-phone"></i>
            </button>
            <button
              class="btn btn-icon btn-round btn-hover"
              (click)="mailTo()"
              placement="top"
              ngbTooltip="info@bjørnskov-ehmsen.dk"
            >
              <i class="fa fa-envelope"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Kontakt form</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label> Navn* </label>
                  <input formControlName="name" name="name" required class="form-control" placeholder="Dit navn" />
                </div>
                <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
                  <div *ngIf="name.errors.required">Navn skal være udfyldt</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Telefonnummer* </label>
                  <input formControlName="phoneNumber" required class="form-control" placeholder="Telefonnummer" />
                </div>
                <div class="alert alert-danger" *ngIf="phoneNumber.invalid && phoneNumber.touched">
                  <div *ngIf="phoneNumber.errors.required">
                    Telefonnummer er nødvendigt for at kunne kontakte om eventuelle spørgsmål
                  </div>
                  <div *ngIf="phoneNumber.errors?.minlength && phoneNumber.touched">
                    Telefonnummeret er ikke langt nok.
                  </div>
                  <div *ngIf="phoneNumber.hasError('pattern') && phoneNumber.touched">
                    Telefonnummeret skal bestå af <u>tal</u>.
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label> Email addresse* </label>
                  <input
                    formControlName="email"
                    required
                    class="form-control"
                    placeholder="mail@hotmail.com"
                    type="email"
                  />
                </div>
                <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                  <div *ngIf="email.errors.required">Email adresse skal være udfyldt</div>
                  <div *ngIf="email.errors.email">
                    Din email udfylder ikke kravene for en email
                    <br />
                    Eksempel: '<b>mail@hotmail.com</b>'
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Emne* </label>
                  <input formControlName="subject" class="form-control" placeholder="Emne" type="text" />
                </div>
                <div class="alert alert-danger" *ngIf="subject.invalid && subject.touched">
                  <div *ngIf="subject.errors.required">Fortæl os hvad emnet omhandler</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label> Besked </label>
                  <textarea
                    class="form-control"
                    formControlName="message"
                    placeholder="Indsæt en beskrivelse af projektet"
                  ></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-fill btn-danger"
            type="submit"
            [disabled]="contactForm.invalid || isSubmitting"
            (click)="onSubmit()"
          >
            Send besked
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
