<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h2 class="card-title">Hvem er vi</h2>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding-top: 0">
          <div class="typography-line">
            <blockquote>
              <p class="blockquote blockquote-danger" style="border-color: transparent; ">
                Bjørnskov & Ehmsen er et tømrerfirma, der har tjent samfundet i over 50 år. Vi specialiserer
                os i skræddersyede tømrerarbejde, fra design til installation, både for boliger og erhverv.
                <br>
                Vores hold af dygtige håndværkere har en passion for at skabe smukke, funktionelle rum, der afspejler
                vores kunders unikke stil og behov. Vi er stolte af vores opmærksomhed på detaljer og engagement i kun
                at
                bruge de fineste materialer.
                <br>
                Hos Bjørnskov & Ehmsen forstår vi vigtigheden af kommunikation og gennemsigtighed i byggeprocessen. Vi
                arbejder tæt sammen med vores kunder for at sikre, at deres vision bliver til virkelighed, og at de er
                fuldstændigt tilfredse med det endelige produkt.
                <br>
                Hvis du leder efter et tømrerfirma, der værdsætter kvalitet, håndværk og kundeservice, så kig ikke
                længere
                end Bjørnskov & Ehmsen.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
