<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">{{ address }}</h5>
        <h3 class="card-title">
          <i class="fa-solid fa-location-dot tim-icons text-danger-states"></i>
          Google Maps
        </h3>
      </div>
      <div class="card-body padding-top">
        <div class="typography-line" style="display: flex; justify-content: center">
          <button class="btn btn-fill btn-danger font-size" (click)="navigateToAddress()">
            <i class="fa-solid fa-location-arrow"></i>
            {{ address }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Find os på Facebook</h5>
        <h3 class="card-title">
          <i class="tim-icons text-info fa-brands fa-facebook-f"> </i>
          Facebook
        </h3>
      </div>
      <div class="card-body padding-top">
        <div class="typography-line" style="display: flex; justify-content: center">
          <button class="btn btn-fill btn-info font-size" (click)="openFacebook()">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            Følg os på Facebook
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Find os på LinkedIn</h5>
        <h3 class="card-title">
          <i class="fa-brands fa-linkedin-in tim-icons linkedin-color"></i>
          LinkedIn
        </h3>
      </div>
      <div class="card-body padding-top">
        <div class="typography-line" style="display: flex; justify-content: center">
          <button class="btn btn-fill btn-linkedIn font-size" (click)="openLinkedIn()">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            Følg os på LinkedIn
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
